<header class="header">
  <div class="container">
    <div class="header__inner">
      <h1 id="fh5co-logo" class="header__logo">
        <a href="index.html">Luxe</a>
      </h1>
      <nav id="fh5co-menu-wrap" role="navigation">
        <ul class="header__menu" id="fh5co-primary-menu">
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#signIn"
              >Sign In</a
            >
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#logIn"
              >Login In</a
            >
          </li>
        </ul>
      </nav>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
        Menu
      </button>
    </div>
  </div>
</header>
