<section class="hero-section">
  <div class="hero-section__inner">
    <div class="hero-section__item" style="background-image: url(images/content/slider1.jpg)">
      <div class="container">
        <div class="hero-section__content">
          <p><span>Bora Hotel</span></p>
          <h2>Reserve Room for Family Vacation</h2>
          <a href="#" data-bs-toggle="modal" data-bs-target="#logIn" class="btn btn-primary btn-lg"
            >Cashback Now</a
          >
        </div>
      </div>
    </div>
    <div class="hero-section__item" style="background-image: url(images/content/slider2.jpg)">
      <div class="container">
        <div class="hero-section__content">
          <p><span>Deluxe Hotel</span></p>
          <h2>Make Your Vacation Comfortable</h2>
          <a href="#" data-bs-toggle="modal" data-bs-target="#logIn" class="btn btn-primary btn-lg"
            >Cashback Now</a
          >
        </div>
      </div>
    </div>
    <div class="hero-section__item" style="background-image: url(images/content/slider3.jpg)">
      <div class="container">
        <div class="hero-section__content">
          <p><span>Luxe Hotel</span></p>
          <h2>A Best Place To Enjoy Your Life</h2>
          <a href="#" data-bs-toggle="modal" data-bs-target="#logIn" class="btn btn-primary btn-lg"
            >Cashback Now</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
